<!DOCTYPE html>

<head>
<meta charset="utf-8" />
<title>Polls</title>
</head>
<body>
	<form>
		<input type="button" name="logout" value="Log Out">
	</form><br>
	<form>
		<h3>Search Polls:</h3>
		Search:<input type="text" name="Name"><br><br>
		<input type="submit" name="submit">
	</form>
	<form>
		<h3>Enter Poll:</h3>
		Enter Poll ID:<input type="number" name="PollID" min=0><br><br>
		<input type="submit" name="submit">
	</form>
	<form>
		<input type="button" name="create" value="Create New Poll" onclick="window.location.href='pollCreate.html'">
	</form>
</body>